@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg-color: #02010a;
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

body {
  background: var(--primary-bg-color);
  color: white;
}

* {
  scroll-behavior: smooth;
}

.button-bg {
  width: 10rem;
  height: 3rem;

  background: linear-gradient(
    90deg,
    rgba(243, 134, 255, 1) 0%,
    rgba(139, 60, 224, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -40px;
  background-image: url(assets/stacked-waves-haikei.png);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.purple__gradient {
  background: linear-gradient(90deg, #5b6cf9 0%, #5612d6 100%);
  filter: blur(900px);
}
